*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --hue-nuetral: rgb(45, 31, 115);
    --hue-wrong: rgb(224, 11, 11);
    --hue-correct: rgb(64, 224, 15);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--hue-nuetral)
}

body.correct {
    background-color: var(--hue-correct);
}

body.wrong {
    background-color: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 0;
}

.btn {
    color: black;
    background-color: rgb(108, 182, 199);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
}
.body.correct {
    background-color: var(--hue-correct);
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    color: black;
    background-color: var(--hue-correct);
}

.btn.wrong {
    color: black
    background-color: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 10px
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
